
body {
	font-family: 'Lato', sans-serif;
    background-color: #e9e9f3;
    /* background-color: #eee; */
    color: #788462;
    margin: 0 20px 0 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;	
	font-weight: 700;
	color: #565e46;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.map {
	stroke: white;
	stroke-width: 1px;
	fill: white;
	stroke-linecap: round;
    opacity: 1;
/*	border: medium solid #999;
	margin: 10px 0 0 20px;*/
}



/* #chartContainer {
    display: inline-block;
    float: left;
    width: 100%;
    padding-left: 15px;
} */

#title {
    font-family: sans-serif;
    font-size: 3em;
    font-weight: bold;
    padding: 5px 0 0 0;
    text-align: center;
    opacity: .85;
}




.chartBackground {
    fill: rgba(0,0,0,0);
}
/*
.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}
*/
.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: black;
}


.bar {
    stroke: white;
    stroke-width: 1px;
}

.dropdown {
    top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 1em;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 1px 1px 2px #999;
}


#variableheader{
    margin-top: 20px;
    text-align: center;

}

.infolabel {
    position: absolute;
/*    max-width: 50px;*/
    color: #000;
    background-color: #fff;
    opacity: .9;
    padding: 5px 20px;
    text-align: center;
    top: -75px;
}

.infolabel h4 {
    margin: 0 20px 0 0;
    padding: 0;
/*    display: inline-block;*/
    line-height: 1em;
}

.infolabel p {
    margin: 0 20px 0 0;
    padding: 0;
/*    display: inline-block;*/
    font-size: 15px;
}